@tailwind base;
@tailwind components;
@tailwind colors;
@tailwind utilities;

@layer base {
  .prose code::before,
  .prose code::after {
    content: none;
  }

  .prose pre {
    background-color: #0d1117;
    padding: 0;
  }

  .prose blockquote > p::before,
  .prose blockquote > p::after {
    content: none;
  }
}

/* Enlaces azules por defecto, excepto en el header */
main a,
footer a:not(header a) {
	color: #005f78;
}

main a:hover,
footer a:not(header a):hover {
	color: #003f58;
}
