caption {
	background-color: #e8e8e8;
}

caption .ui.label {
	font-size: 1.1em;
}

.calendar-container {
	max-width: 100%;
	overflow-x: auto;
}

.calendar-container .calendar-table {
	min-width: 1280px;
}

.calendar-table.ui.table {
	table-layout: fixed;
}

.calendar-table.ui.table th:first-child {
	width: 150px;
}

.calendar-table.ui.table th.weekend {
	color: #F66 !important;
}

.calendar-table.ui.table td {
	cursor: pointer;
}

.calendar-table.ui.table td.positive {
	background: #D0EFD0 !important;
}

.calendar-table.ui.table td.negative {
	background: #FFE0E0 !important;
}



