body {
	padding-top: 10px;
}

textarea {
	resize: none;
}

.btn.btn-default, .btn.btn-active {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.panel-heading {
	padding: 0 15px;
}

h3 {
	margin-top: 0;
    padding-top: 10px;
}

.ui.buttons.botonera {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ui.buttons.botonera .button:first-child {
	margin-right: 10px;
	border-radius: 4px;
}

.ui.buttons.botonera .button.separated {
	margin-left: 10px;
	border-radius: 4px;
}

.ui.steps .step:last-child:after {
	visibility: hidden;
}


@media (max-width: 480px) {
	.botonera {
		width: 100%;
	}

	.ui.buttons.botonera .ui.button {
		width: 33%;
		display: block;
		padding-left: 3em !important;
	}

	.ui.buttons.botonera .ui.button:first-child {
		width: calc(33% - 10px);
	}

	.ui.buttons.botonera .ui.button:last-child {
		padding-left: 1em !important;
	}
}
